/* style for the nav bar side */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.sidenav button{
    border: none;
    padding: 8px;
    border-radius: 50px;
    transition: 0.3s;
    margin-left: 27px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
    .sidenav button{
        padding: 4px;
        border-radius: 25px;
    }
}
.boardName{
    cursor: pointer;
    padding: 3px;
    width: 230px;
}
.boardName:hover{
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px white;
}
.boardName.active {
    background-color: #28a745; /* Change background when active */
    color: white; /* Change text color if needed */
    border-radius: 6px;
    box-shadow: 0px 0px 5px 1px white;
}